<div class="container">
    <h2>Rejestracja</h2>
    <form (submit)="checkInputs($event)" autocomplete="off">
        
        <div class="form-group">
            <label for="name">Imię</label>
            <input type="text" id="name" placeholder="Imię">
            <div id="nameError" class="error"></div>
        </div>

        <div class="form-group">
            <label for="surname">Nazwisko</label>
            <input type="text" id="surname" placeholder="Nazwisko">
            <div id="surnameError" class="error"></div>
        </div>

        <div class="form-group">
            <label for="pesel">PESEL</label>
            <input type="text" id="pesel" placeholder="PESEL">
            <div id="peselError" class="error"></div>
        </div>

        <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            <input  type="text" id="username" placeholder="Nazwa użytkownika">
            <div id="usernameError" class="error"></div>
        </div>

        <div class="form-group">
            <label for="password">Hasło</label>
            <div class="input-wrapper">
                <input  type="password" id="password" placeholder="Hasło">
                <i class="bx bxs-lock-alt" (click)="togglePasswordVisibilityOne()"></i>
            </div>
            <div id="passwordError" class="error"></div>
        </div>

        <div class="form-group">
            <label for="confirm-password">Potwierdź hasło</label>
            <div class="input-wrapper">
                <input type="password" id="confirm-password" placeholder="Wprowadź ponownie hasło">
                <i class="bx bxs-lock-alt" (click)="togglePasswordVisibilityTwo()"></i>
            </div>
            <div id="confirmPasswordError" class="error"></div>
        </div>

        <button type="submit" class="btn" id="register-button">Zarejestruj</button>
        
        <div id="PLogin">
            Masz już konto? <a>Zaloguj się</a>
        </div>
    </form>
</div>
