<div class="slot-machine">

  <div class="left">
    <p class="balance">Saldo: {{ balance }}</p>
    <span class="betAmount">Zakład: {{ betAmount }}</span>

    <div class="bet-controls">
      <button (click)="decreaseBet()" [disabled]="betAmount <= minBet">➖</button>
      <button (click)="increaseBet()" [disabled]="betAmount >= maxBet">➕</button>
      <button (click)="shareBet()" [disabled]="betAmount <= minBet">➗</button>
      <button (click)="multiplyBet()" [disabled]="betAmount > maxBet">✖️</button>
    </div>
  </div>


  <div class="center">
    <div class="reels"> <!--maszyna-->
      <div class="reel">{{ reels[0] }}</div> <!--rolki-->
      <div class="reel">{{ reels[1] }}</div>
      <div class="reel">{{ reels[2] }}</div>
    </div>

    <button (click)="spinReels()" [disabled]="isSpinning">Zakręć</button> 
    <p class="result">{{ resultMessage }}</p>
  </div>


  <div class="right">
    <img src="brain-rot.gif" alt="brain-rot" class="gif">
  </div>

  </div>
  