
<body>

    <app-glowowy></app-glowowy>
    <div class="container">
        <div>Kasa:</div> <div id="skarbonka"></div>
    </div>
    WPROWADŹ PIENIĄDZE: <input type="number" id="kasa" value="1"> <div id="stawka">STAWKA:</div>
    <button onclick="START()" id="start">START GAME</button><br>
    <div id="KartyD"></div>
    <div id="WartośćD"></div><br><br>
    <div id="Karty"></div>
    <div id="Wartość"></div>
    <div id="buttonContainer"></div>
    <div id="wynik"></div>
</body>

  
