
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}




.container {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    backdrop-filter: blur(7px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
   
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: white;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
}

.btn:hover {
    background-color: #ffffff9d;
}

.form-group input:focus {
    outline: none;
}

#PLogin {
    color: white;
    text-align: center;
}

.form-group input:hover {
    border: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#usernameError, #passwordError {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    padding-top: 5px;
}

.form-group input::placeholder {
    color: white;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    padding-right: 30px; 
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: white;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
    display: none;
}
