<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casino Games</title>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="header">
    <a href="#">
    <div class="casino-logo">
      <p>LeCassino</p>
    </div></a>
    <div class="account-info">
      <div class="profile-picture"></div>
      <div class="account-details">
        <span class="account-name">{{account_name}}</span>
        <span class="account-balance">{{account_balance}}</span>
      </div>
    </div>
  </div>

</body>
</html>